---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
excerpt: "Investigate reliable methods to improve the GNSS positioning in urban canyons for reliable robotic navigation, by leveraging the active environment perception from 3D LiDAR to detect, correct the NLOS/Multipath signals <br/><img src='/images/3DLA-GNSS.emf.jpg' >"

---

<!-- <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=u-J_ezA-dfvqKIPEYHfIyR6nia5pDiY3JzQbPoY8zIE&cl=ffffff&w=a"></script> -->


{% include base_path %}


{% for post in site.research %}
  {% include archive-single.html %}
{% endfor %}



