---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
Teaching is one of the most important parts for the academic staff. I love teaching and stay with young students (thinking that I am also young!).

<!-- <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=u-J_ezA-dfvqKIPEYHfIyR6nia5pDiY3JzQbPoY8zIE&cl=ffffff&w=a"></script>


<a href="https://clustrmaps.com/site/1bqi6"  title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=u-J_ezA-dfvqKIPEYHfIyR6nia5pDiY3JzQbPoY8zIE&cl=ffffff" /></a> -->


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
